{% extends "base.html" %}
{% block content %}

<form action="/books" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Title" required autofocus>
    </div>
    <div>
        <label for="genre">Title:</label>
        <input type="text" id="genre" name="genre" placeholder="Genre">
    </div>
    <div>
        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" name="publisher" placeholder="Publisher">
    </div>
    <div>
        <label for="author_namef">Author First Name:</label>
        <input type="text" id="author_namef" name="author_namef" placeholder="Author first name">
    </div>
    <div>
        <label for="author_namel">Author Last Name:</label>
        <input type="text" id="author_namel" name="author_namel" placeholder="Author last name">
    </div>
    <button type="submit">Add Book</button>
</form>



{% endblock %}